//TODO: remove redundants
//TODO: color theme

/**
 *  App component styles
 */
.App {
  margin: 20px;
  text-align: center;

  .Search {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .SourceSelect {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .SourceSelectRadio {
      margin: 10px;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 0 0 10px black;
      color: gray;
      cursor: pointer;
      input[type="radio"] {
        display: none;
      }

      &.active {
        color: green;
        text-decoration: underline;
      }
    }
  }

  .ResultTable {

    .Table {
      margin: 20px 0;

      .TableRow, .TableHeaderRow {
        display: flex;
        line-height: 24px;
        white-space: nowrap;
        margin: 10px 0;
        padding: 10px;
        background: #939291;
        color: #333231;
        border: 1px solid #e3e3e3;
      }

      .TableHeaderRow {
        display: flex;
        justify-content: center;
        align-items: center;

        .TableHeader {
          display: flex;
          flex-direction: column;
          font-size: 1.33em;

          &.active {
            .Button {
              text-decoration: underline;
              font-weight: bold;
              color: green;
              text-shadow: 0 0 1px rgba(0,0,0,0.3);
          
              i[class*="fa-arrow-"] {
                margin-left: 5px;
                position: absolute;
              }
            }
          }
        }
      }

      .TableRow {
        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    .Footer {
      display: flex;
      justify-content: space-around;
    }
  }
}

/**
 *  generic component styles
 */

.Button {
  cursor: pointer;

   &.inline {
    border-width: 0;
    background: transparent;
    color: #000;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
  }

  &.clickable {
    border: none;
    padding: 10px;
    background: #939291;
    border: 1px solid #000;
    border-radius: 5px;

    &:hover {
      border-width: 2px;
      padding: 9px;
      background: #bbb;
    }
    
    &:active {
      border-width: 3px;
      padding: 8px;
      background: #ddd;
    }
  }
}