
//TODO: media queries

$green: #00A000;

$gray: #939291;
$gray-border: #e3e3e3;
$gray-background: #333231;
$gray-text: darken($gray, 25%);

$term-black: #151515;
/**
 *  App styles
 */
.App {
  text-align: center;
  padding: 20px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $gray-text;
    }
  }

  .Search {

    .SearchInput {
      display: flex;
      align-items: flex-end;
      justify-content: center;
  
      input[type="text"] {
        color: $gray-border;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        margin-right: 10px;
        border: 1px solid $gray-border;
        background: transparent;
  
        &:focus {
          background: $term-black;
          color: $green;
        }
      }
    }
    
    .SourceSelect {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
    
      .SourceSelectRadio {
        margin: 10px;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0 0 10px black;
        color: $gray;
        cursor: pointer;
        
        input[type="radio"] {
          display: none;
        }
  
        &.active {
          color: $green;
        }
      }
    }
  }

  .ResultTable {

    .Table {
      margin: 20px 0;

      .TableRow, .TableHeaderRow {
        display: flex;
        line-height: 24px;
        white-space: nowrap;
        margin: 15px 0;
        padding: 5px;
        background: $gray;
        color: $gray-text;
        border: 1px solid $gray-border;
      }

      .TableHeaderRow {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $term-black;

        .DataHeader {
          font-size: 1.33em;
          text-shadow: 0 0 1px rgba($green, 0.2);
        }
      }

      .TableRow {
        
        span, a {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .Dismiss {
          color: $gray-text;
        }
      }
    }
  
    .Footer {
      display: flex;
      justify-content: space-around;
    }
  }
}

/**
 *  generic component styles
 */

 .SortArrow {

  i[class*="fa-sort-"] {
    margin-top: 1px;
    color: $gray-background;
    position: absolute;
    margin-left: 0.33em;

    &.active {
      color: $green;
      text-shadow: 0 0 1px black;
    }
  }
}

.Button {
  cursor: pointer;
  outline: none;
  border: none;

   &.inline {
    background: transparent;
    padding: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &.clickable {
    padding: 10px;
    background: $gray-background;
    color: $gray-border;
    border: 1px solid $gray-border;
    border-radius: 5px;
    
    &:active {
      background: $term-black
    }
  }
}

.fa-spinner {
  color: $green;
}